/* You can add global styles to this file, and also import other style files */
@import "./app/utilities/variables";

html, body { height: 100%; }
body {
    margin: 0;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    text-align: center;
    font-size: $font-size;
}


@media (min-width: $break-small) {}
@media (min-width: $break-medium) {}
@media (min-width: $break-large) {}
@media (min-width: $break-extra-large) {}
