// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@include mat-core();

$roboto: mat-typography-config($font-family: 'Roboto');
@include mat-select-typography($roboto);

@import "./app/utilities/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-size: $font-size;
  color: $basic-color;
}

.app-header {
  background: $accent-color;
  height: 55px;
  .app-header-content {
    padding: 10px;
    .app-header-title {
      float: left;
      line-height: 36px;
    }
    .app-header-btns {
      float: right;
    }
  }
}

.app-primary-btn {
  background: $primary-color;
  color: $basic-color;
}

@media (min-width: $break-small) {
  .app-header-title {
    font-size: 18px;
  }
}
@media (min-width: $break-medium) {
  .app-header-title {
    font-size: 18px;
  }
}
@media (min-width: $break-large) {
  .app-header-content {
    width: 50%;
    margin: 0 auto;
    .app-header-title {
      font-size: 24px;
    }
  }
}
@media (min-width: $break-extra-large) {
  .app-header-content {
    width: 50%;
    margin: 0 auto;
    .app-header-title {
      font-size: 24px;
    }
  }
}
