$break-small: 576px;
$break-medium: 768px;
$break-large: 960px;
$break-extra-large: 1200px;

$font-size: 16px;

$primary-color: #46a8a8;
$basic-color: #512324;
$accent-color: #d9de5e;
$warn-color: #888201;
$cancel-color: #a8c7cb;
$white-color: #fff;
